*.war
*.nar
*.ear

.idea/
.vscode/
*.iws
*.iml
*.ipr

.DS_Store
Thumbs.db

.git/
.gitignore

Dockerfile
.dockerignore
docker-compose.yml

*.log
logs/

node_modules/

README.md
*.md
CLAUDE.md

src/test/

*.tmp
*.temp
